<footer>
    <div class="links">
        <div class="container-fluid">
            <div class="row mb-0 d-flex align-items-center">
                <div class="col-sm-12 col-md-2 mr-auto">
                    <img src="{{ site.baseurl }}/assets/images/logo_nomatic_white.svg" alt="Logo nomatic">
                </div>
                <div class="col-sm-6 col-md-auto">
                    <a class="font-scnd uppc txt-m-scnd" href="">About</a>
                </div>
                <div class="col-sm-6 col-md-auto">
                    <a class="font-scnd uppc txt-m-scnd" href="">Support</a>
                </div>
                <div class="col-sm-6 col-md-auto">
                    <a class="font-scnd uppc txt-m-scnd" href="">More</a>
                </div>
                
                <div class="col-sm-6 col-md-auto d-flex flex-row">
                    <div class="btn col-sm-6 col-md-auto uppc txt-m-scnd" id="sign-up" type="button" data-toggle="collapse" data-target="#collapseFooterMore" aria-expanded="false" aria-controls="ccollapseFooterMore">
                        Sign up
                    </div>
                </div>
                <div class="collapse" id="collapseFooterMore">
                    <div class="col-sm-6 col-md-auto">
                        <div class="card card-body">
                            <input type="text" placeholder="E-mail">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="logo">
        <div class="container-fluid">
            <div class="row mb-0 d-flex justify-content-between align-items-center">
                <div class="col-sm-12 col-md-auto d-flex">
                    <p class="mb-0">© 2018 Nomatic &mdash; All rights reserved</p>
                </div>
                <div class="col-sm-12 col-md-auto txt-sm-scnd">
                    <a href="">Cookie policy</a>
                    <a class="ml-3" href="">Privacy policy</a>
                </div>
            </div>
        </div>
    </div>
</footer>
