<nav class="animated slideInDown faster navbar navbar-expand-lg navbar-light bg-light sticky-top" data-offset="100px">
    <a class="navbar-brand " href="{{ site.baseurl }}/index">
        <img src="./assets/images/logo_nomatic.svg" alt="logo nomatic" height="30px">
    </a>
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <div class="navbar-toggler-vert"></div>
        <div class="navbar-toggler-horz"></div>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="{{ site.baseurl }}/sponsor">sponsor</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ site.baseurl }}/about">about</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ site.baseurl }}/testimonials">testimonials</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ site.baseurl }}/faq">faq</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ site.baseurl }}/order">order</a>
            </li>
        </ul>
    </div>
</nav>