<nav id="navbarTop" class="navbar navbar-expand-lg navbar-light bg-light sticky-top" data-offset="100px">
    <a class="navbar-brand " href="{{ site.baseurl }}/index">
        <img src="{{ site.baseurl }}/assets/images/logo_nomatic.svg" alt="logo nomatic" height="30px">
    </a>
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <div class="navbar-toggler-vert"></div>
        <div class="navbar-toggler-horz"></div>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle pledges d-flex align-items-center" href="{{ site.baseurl }}/sponsor" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    sponsor <div class="arrow-left"></div><div class="arrow-right"></div>
                </a>
                <div class="dropdown-menu pledges" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{{ site.baseurl }}/order/super-early-bird">super early bird</a>
                    <a class="dropdown-item" href="{{ site.baseurl }}/order/early-bird">early bird</a>
                    <a class="dropdown-item" href="{{ site.baseurl }}/order/double-pledge">double pledge</a>
                    <a class="dropdown-item" href="{{ site.baseurl }}/sponsor"><strong class="font-scnd">custom pledge</strong></a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ site.baseurl }}/about">about</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ site.baseurl }}/testimonials">testimonials</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ site.baseurl }}/faq">faq</a>
            </li>           
        </ul>
    </div>
</nav>

<style>
    .nav-item > a[href$="{{ page.url }}"] {
        position: relative !important;
        color: black !important;
        font-weight: bolder !important;
    }

    /* .nav-item > a[href$="{{ page.url }}"]::after {
        position: absolute !important;
        bottom: -1px !important;
        left: 50% !important;
        height: 7px !important;
        width: 7px !important;
        border-radius: 120px !important;
        background-color: var(--primary) !important;
    } */
</style>